body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

.page-header {
  margin-top: 30px;
}

.breadcrumb {
  margin-top: 20px;
}

.content h2:first-of-type {
  margin-top: 0px;
}

.half-rule {
  width: 100px;
  margin: 25px auto;
}


.fa {
  margin-right: 0.5em;
}

.checklist {
  padding: 0;
  list-style: none;
}

/* footer */

.footer {
  margin-top: 30px;
  padding-top: 16px;
  color: #777;
  border-top: 1px solid #eee;
  font-size: 90%;
  text-align: center;
}

.footer p {
  margin: 0px;
}

/* toc */

.sidebar {
  /*font-size: 90%;
  line-height: 120%;*/
}

.toc ul  {
  padding-left: 0;
  list-style: none;
}

.toc ul li {
  padding-top: 3px;
}

.toc ul ul {
  padding-left: 10px;
  font-size: 95%;
}

/* heading scrolling */

h2[id]:before, 
h3[id]:before{
  content: "";
  display: block;
  height: 70px;
  margin-top:-70px;
}

ol.orangenumbers li {
  color: #dd4814;
}

/* Additions by Hrothgar, April 2014 */
ul li { list-style-type: square; }
#sidebar ul li { list-style-type: none; }
#sidebar.affix {
    position: fixed;
    top: 75px;
}

.gallery-item {
}
  .gallery-item h3 { font-size: 1.2em; }
  .gallery-item h4 { font-size: 1.1em; }
  .gallery-item .tags { color: #aaa; }
  .gallery-item img {
    max-width: 220px;
    margin: 0;
  }
  .gallery-item.left { padding: 0 20px 0 0; }
  .gallery-item.left img {
    float: left;
    margin-right: 20px;
  }
  .gallery-item.right { padding: 0 0 0 20px; }
  .gallery-item.right img {
    float: right;
    margin-left: 20px;
  }

.mcode-error { color: #900; }
.mcode-input { padding:10px; border:1px solid #d3d3d3; background:#f7f7f7; }
.mcode-output { padding:10px 11px; border:none; margin:0px 0px 20px; color:#666; font-style: italic; }
